hr(style="margin-top: 50px;")
.footer(style="text-align: center;")
  p
    | IR Server 0.0.2 
    a(href='https://twitter.com/y_naruta') @y_naruta 

//- Load Scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
