hr(style="margin-top: 50px;")
.footer(style="text-align: center;")
  p
    | IR Server 0.0.2
    a(href='https://twitter.com/y_naruta') @y_naruta

//- Load Scripts
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
script(src="https://unpkg.com/popper.js/dist/umd/popper.min.js")
script(src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js")
script(src='/app/iao-alert.jquery.min.js')
script(src='/app/common.js')