head
  //- Behavioral Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

  //- SEO Meta Data
  title IR Server
  meta(name='author', content='narutay')
  meta(name='description', content='家電リモコンの学習やリモート操作ができる！')
  meta(name='keywords', content='')

  //- Styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
  link(rel='stylesheet', href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous")
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/ladda-themeless.min.css")
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.6/ladda-themeless.min.css")
  script(src='/js/bundle.js')
  style.
    body {
      overflow-x: hidden; /* Prevent scroll on narrow devices */
    }

    body {
      padding-top: 56px;
    }

    .text-white-50 { color: rgba(255, 255, 255, .5); }

    .bg-headmsg { background-color: #2a5c8e }

    .border-bottom { border-bottom: 1px solid #e5e5e5; }

    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

    .lh-100 { line-height: 1; }
    .lh-125 { line-height: 1.25; }
    .lh-150 { line-height: 1.5; }

    .send-btn {
      display: inline-block;
      margin: 0px;
      border-radius: 25px;
      width: 110px
    }

    .receive-btn {
      display: inline-block;
      margin: 0px;
      width: 110px;
    }

    .status-green {
      color: var(--green);
    }

    .status-red {
      color: var(--danger);
    }

    .badge {
      font-weight: 100;
    }