nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light(role='navigation')
  a.navbar-brand(href='/')
  button.navbar-toggler.p-0.border-0(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
    span.navbar-toggler-icon
  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right
      li.nav-item(class='active')
        a.nav-link#logoutNavButton(href='/') ログアウト
      li.nav-item(class='active')
        a.nav-link#loginNavButton(href='/') ログイン