*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

.vscode
setenv.sh
component-config.local.*
config.local.*
datasources.local.*
datasources.local.*
middleware.local.*
providers.local.*

device
test-data

