doctype html
block vars
html(lang="ja")
  include ../partials/head
  body.bg-light(style="display: none;")
    include ../partials/navigation
    .container
      block contents
    include ../partials/footer
    block scripts