extends ../layouts/layout

block content
  main.container(role=main)
  .p-3.my-3.text-muted.text-white-50.w-100.bg-headmsg.box-shadow.rounded
    h6.mb-0.text-white 家中のリモコンを登録しよう！
    p.text-white.small.card-text 持っている赤外線リモコンをデバイスに登録して、どこからでも操作することができます。

  //デバイス一覧の挿入箇所
  div#deviceList(style="display: none;")
  script loadDeviceList();

  //デバイス追加ボタン
  button.btn.btn-primary.btn-raised.small.d-flex.justify-content-center.align-items-center.p-1.my-1.text-white-50.rounded.box-shadow.w-100(type="button" data-toggle="modal" data-target="#addDeviceModal")
    i.material-icons add
    span 新規デバイスを追加

  //提案ボタン
  .form-group
    .label.small.text-muted 何をしますか？
    input.form-control#suggestText(type="text")
  .mt-3.d-flex.justify-content-center
    button.btn.btn-secondary.bmd-btn-fab(type="button", onClick="suggest()")
      i.material-icons mic

  //各種モーダル
  .modal.fade#deleteMessageModal(aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body リモコンデータを削除しますか？
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
          button.btn.btn-danger(type="button", onClick='deleteMessage()') 削除

  .modal.fade#deleteDeviceModal(aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body デバイスを削除しますか？
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
          button.btn.btn-danger(type="button", onClick='deleteDevice()') 削除

  .modal.fade#editDeviceNameModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title デバイス名の編集
          .modal-body
            p.modal-text.small.text-muted#deviceSerialText
            .form-group
              lavel.bmd-label-floating(for="editDeviceName") デバイス名
              input.form-control#editDeviceName(type='text', name='Name' required)
              span.bmd-help 任意のデバイス名。 例: リビング
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", onClick='updateDeviceName()') 更新

  .modal.fade#editMessageNameModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title リモコンデータ名の編集
          .modal-body
            .form-group
              lavel.bmd-label-floating(for="editMessageName") リモコンデータ名
              input.form-control#editMessageName(type='text', name='Name' required)
              span.bmd-help 任意のリモコンデータ名。 例: エアコン冷房
            .form-group
              lavel.text-muted(for="editMessageClass") リモコンの役割(オプション)
              select.form-control#editMessageClass
                option(value="" selected) 選択...
                each val, index in messageClassDisplayName
                  option(value=index)
                    = val
              span.small.text-muted リモコンの提案機能で必要となります
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", onClick='updateMessageName()') 更新

  .modal.fade#addDeviceModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title デバイスの登録
          .modal-body
              .form-group
                lavel.bmd-label-floating(for="newDeviecName") デバイス名
                input.form-control#newDeviceName(type='text', name='Device Name' required)
                span.bmd-help 任意のデバイス名。例: リビング
              .form-group
                lavel.bmd-label-floating(for="newDeviceSerial") シリアル番号
                input.form-control#newDeviceSerial(type='text', name='Device Serial' required)
                span.bmd-help デバイスの背面に記載されているシリアル番号を入力してください。
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", onClick='addDevice()') 追加

  .modal.fade#addMessageModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title リモコンデータの登録
          .modal-body
              .form-group
                lavel.bmd-label-floating(for="newMessageName") リモコンデータ名
                input.form-control#newMessageName(type='text', name='Device Name' required)
                span.bmd-help 任意のリモコンデータ名。例: エアコン暖房
              .form-group
                lavel.text-muted(for="newMessageClass") リモコンの役割(オプション)
                select.form-control#newMessageClass
                  option(value="" selected) 選択...
                  each val, index in messageClassDisplayName
                    option(value=index)
                      = val
                span.small.text-muted リモコンの提案機能で必要となります
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", onClick='addMessage()') 追加

  .modal.fade#receiveMessageModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h6.modal-title リモコンデータの受信
        .modal-body
          p.modal-text.muted.small お手持ちのリモコンを用意してください。(受信開始)ボタンを押したら10秒以内にデバイスに向けてリモコン操作をしましょう。
          .d-flex.justify-content-center.w-100
            button.btn.btn-primary.btn-raised.btn-lg.ladda-button#receiveMessageButton(type="submit", data-style="slide-down", data-size="l" onClick='receiveMessage()')
              span.ladda-label.ml-5.mr-5 受信開始
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル

block scripts
  script#deviceCardTemplate(type="text/x-jsrender")
    .card.mt-2.mb-2(id="card-deviceid-{{:id}}")
      .card-header
        .media.text-muted.d-flex.justify-content-between.align-items-center.w-100
          .media.text-muted.align-items-center
            i.p-2.material-icons.rounded settings_remote
            .media.d-flex.flex-column.justify-content-between
              strong.mt-4 {{:name}}
                .media.d-flex.justify-content-start.ml-2 {{if status === "Connect"}}
                  span.small.status-green ●
                  span.small.ml-1 オンライン  {{/if}}
                .media.d-flex.justify-content-start.ml-2 {{if status !== "Connect"}}
                  span.small.status-red ●
                  span.small.ml-1 オフライン  {{/if}}
          .dropdown
            button.btn.bmd-btn-icon.dropdown-toggle(type="button" id="ddmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              i.material-icons more_vert
            .dropdown-menu.dropdown-menu-right(alia-labelledby="ddmenu")
              button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:id}}", data-devicename="{{:name}}", data-target="#editDeviceNameModal") 編集
              button.dropdown-item.small(type="button", onClick="showDeviceInfo('{{:id}}')") デバイス情報
              button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:id}}", data-target="#deleteDeviceModal") 削除
      .card-body
        div(id="messageList-{{:id}}")
        .mt-3.d-flex.flex-row-reverse
          button.btn.btn-info.bmd-btn-fab.bmd-btn-fab-sm.pull-right(data-toggle="modal", data-deviceid="{{:id}}", data-target="#addMessageModal")
            i.material-icons add

  script#messageCardTemplate(type="text/x-jsrender")
    .media.text-muted(id="mb-messageid-{{:id}}")
      .media-body.pl-2.pt-2.pb-2.pr-0.border-bottom.boder-gray
        .d-flex.justify-content-between.align-items-center.w-100
          .media.text-muted.d-flex.flex-column.justify-content-around
            span {{:name}}
            span.badge.badge-pill.badge-secondary.ml-2.mt-1 {{:classDN}}
          .media.text-muted.d-flex.justify-content-end.align-items-center
            div {{if status === "ready"}}
              button.btn.btn-primary.btn-raised.send-btn.ladda-button(id="send-btn-{{:id}}", type="submit", data-style="slide-down", data-size="l", onClick="sendMessage('{{:deviceId}}', '{{:id}}')")
                span.ladda-label 送信 {{/if}}
            div {{if status !== "ready"}}
              button.btn.btn-raised.btn-secondary.receive-btn(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#receiveMessageModal") データ登録 {{/if}}
            .dropdown
              button.btn.bmd-btn-icon.dropdown-toggle.ml-2(type="button" id="ddmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.material-icons more_vert
              .dropdown-menu.dropdown-menu-right(alia-labelledby="ddmenu")
                button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-messagename="{{:name}}", data-messageclass="{{:class}}", data-target="#editMessageNameModal") 編集
                div {{if status === "ready"}}
                  button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#receiveMessageModal") リモコンデータ再登録 {{/if}}
                div {{if status !== "ready"}}
                  button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#receiveMessageModal") リモコンデータ登録 {{/if}}
                button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#deleteMessageModal") 削除
