extends ../layouts/layout

block content
  main.container(role=main)
  .d-flex.align-items-centr.p-3.my-3.text-white-50.bg-teal.rounded.box-shadow
    .media.text-muted.d-flex.justify-content-between.align-items-center.w-100
      h6.mb-0.text-white Control Your Device !
      button.btn.btn-secondary.bmd-btn-fab.bmd-btn-fab-sm(type="button" data-toggle="modal" data-target="#addDeviceModal")
        i.material-icons add

  div#deviceList(style="display: none;")

  .modal.fade#deleteMessageModal(aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body メッセージを削除しますか？
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
          button.btn.btn-danger(type="button", onClick='deleteMessage()') 削除

  .modal.fade#deleteDeviceModal(aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body デバイスを削除しますか？
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
          button.btn.btn-danger(type="button", onClick='deleteDevice()') 削除

  .modal.fade#editMessageNameModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title リモコンデータ名の編集
          .modal-body
            .form-group
              lavel.bmd-label-floating(for="editMessageName") リモコンデータ名
              input.form-control#editMessageName(type='text', name='Name' required)
              span.bmd-help 任意のリモコンデータ名。 例: エアコン冷房
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", disabled, onClick='updateMessageName()') 更新

  .modal.fade#addDeviceModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title デバイスの登録
          .modal-body
              .form-group
                lavel.bmd-label-floating(for="newDeviecName") デバイス名
                input.form-control#newDeviceName(type='text', name='Device Name' required)
                span.bmd-help 任意のデバイス名。例: リビング
              .form-group
                lavel.bmd-label-floating(for="newDeviceSerial") シリアル番号
                input.form-control#newDeviceSerial(type='text', name='Device Serial' required)
                span.bmd-help デバイスの背面に記載されているシリアル番号を入力してください。
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", disabled, onClick='addDevice()') 追加

  .modal.fade#addMessageModal(aria-hidden="true" role="dialog" tabindex="-1")
    .modal-dialog(role="document")
      .modal-content
        form(role="form" autocomplete="off")
          .modal-header
            h6.modal-title メッセージの登録
          .modal-body
              .form-group
                lavel.bmd-label-floating(for="newMessageName") メッセージ名
                input.form-control#newMessageName(type='text', name='Device Name' required)
                span.bmd-help 任意のメッセージ名。例: エアコン暖房
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") キャンセル
            button.btn.btn-primary(type="submit", disabled, onClick='addMessage()') 追加

block scripts
  script#deviceCardTemplate(type="text/x-jsrender")
    .card.mt-2.mb-2(id="card-deviceid-{{:id}}")
      .card-header
        .media.text-muted.d-flex.justify-content-between.align-items-center.w-100
          .media.text-muted
            i.material-icons.rounded settings_remote
            strong.ml-3 {{:name}}
          .dropdown
            button.btn.bmd-btn-icon.dropdown-toggle(type="button" id="ddmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              i.material-icons more_vert
            .dropdown-menu.dropdown-menu-right(alia-labelledby="ddmenu")
              button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:id}}", data-target="#editDeviceModal") 編集
              button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:id}}", data-target="#deleteDeviceModal") 削除
      .card-body
        div(id="messageList-{{:id}}")
        .mt-3.d-flex.flex-row-reverse
          button.btn.btn-info.bmd-btn-fab.bmd-btn-fab-sm.pull-right(data-toggle="modal", data-deviceid="{{:id}}", data-target="#addMessageModal")
            i.material-icons add

  script#messageCardTemplate(type="text/x-jsrender")
    .media.text-muted.pt-1(id="mb-messageid-{{:id}}")
      .media-body.ml-3.border-bottom.boder-gray
        .d-flex.justify-content-between.align-items-center.w-100
          span {{:name}}
          .media.text-muted.align-items-center
            button.btn.btn-raised.btn-primary.ml-2.mr-2.pb-1.pt-1 送信
            .dropdown
              button.btn.bmd-btn-icon.dropdown-toggle(type="button" id="ddmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.material-icons more_vert
              .dropdown-menu.dropdown-menu-right(alia-labelledby="ddmenu")
                button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#editMessageNameModal") 編集
                button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#recieveMessageModal") メッセージ登録
                button.dropdown-item.small(data-toggle="modal", data-deviceid="{{:deviceId}}", data-messageid="{{:id}}", data-target="#deleteMessageModal") 削除

  script(src='/app/index.js')